<div class="content">
    <div class="bs-example">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default" data-ng-repeat="element in activeProduct.elements">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse"  data-ng-click="setElement(element)"
                           data-parent="#accordion" href="#newton-element-{{removeSpaces(element.name)}}">
                            {{element.name}}
                        </a>
                    </h4>
                </div>
                <div id="newton-element-{{removeSpaces(element.name)}}" class="panel-collapse collapse" ng-class="(element.name === activeProduct.elements[0].name) ? 'in' : ''">
                    <div class="panel-body">
                        <element-variation-config element="{{element}}"></element-variation-config>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>