<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title panel-title-font">{{activeProduct.name}}</h3>
    </div>
    <div class="panel-body">
        <div class="middle-element-content">
            <div ng-repeat="element in activeProduct.elements">
                <div ng-repeat="variation in element.elementVariations">
                    <div ng-hide="!variation.selected">
                        <span class="newton-element-name">{{element.name}}</span>:
                        <span class="newton-element-name-value">{{variation.name}}</span>
                        <br>
                <span class="newton-element-description-value">
                {{variation.description}}
                </span>
                        <br>
                        <span class="newton-element-price">Price</span>:
                        <span class="newton-element-price-value">{{variation.price}}{{configuratorInfo.currency}}</span>
                    </div>
                </div>
                <div data-ng-hide="$last">
                    <hr/>
                </div>
            </div>
        </div>
        <table>
            <tr>
                <td>
                    <button class="btn btn-lg btn-info btn-order" ng-click="download()">
                        Download
                    </button>
                </td>
                <td>
                    <button class="btn btn-lg btn-primary btn-order" ng-click="orderClick()">
                        Order: {{getTotalPrice()}}{{configuratorInfo.currency}}
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
