@left-menu-width: 320px;
@canvas-height: 500px;

.newton-left-menu  {
  position: relative;
  display: inline-block;
  width: @left-menu-width;
  max-height: @canvas-height + 2px;
  float:left;
  margin: 20px 10px 0 10px;

  .content {
    display: block;
    margin: 5px;
    word-break: break-all;
  }

  .tab-content {
    overflow-y: auto;
    height: @canvas-height - 50px + 6px;
  }
}

#left-menu{
  border: 1px #000000 solid;
}

.newton-nav-tab {
  width: 50%;
  text-align: center;
  margin: 0px!important;
  a {
    margin: 0px!important;
  }
  &.active {
    margin: 0px!important;
  }
}

.newton-variation-img, .newton-category-img, .newton-back-img, .newton-product-img {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0px;
  bottom:0;
  margin:auto;
}

.newton-category-img, .newton-product-img {
  top: 20px;
}
.newton-category, .newton-product, .newton-variation{
  position: relative;
  height: 130px;
  width: 100px;
  margin: 10px;
  cursor:pointer;
  &.active img {
    border: solid 2px;
  }
  .title{
    display: block;
    text-align: center;
  }
}
.newton-variation {
  height: 100px;
}
.panel-newton {
  height: @canvas-height + 2px;
}
